@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');
.Home{
    text-align: center;
    
    h1 {
        padding: 12rem 1rem;
        font-size: 5rem !important;
        font-family: 'Edu SA Beginner', cursive ;

    }
    @media screen and (max-width: 1200px) {
        font-size: 5rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 280px) {
        font-size: 3rem;
    }
}
