.Header{
    // position: fixed;
    // width: -webkit-fill-available;;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0,0.1) ;
    .titleLogo {
        font-size: 25px;
        padding: .5rem 0;
        margin: 0.5rem 0rem;
        }
    .div1{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .Navbarlist{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0.5rem 0rem !important;
        }
    p{
        background-image: linear-gradient(60deg, #b92b27, #1565C0);
        background-clip: text;            
        color: transparent;
        font-size:x-large;
        font-weight: 600;
        
    }  
    ul {
        list-style-type: none;
        }
    li{
        padding: 10px 20px 10px 20px;
        font-size:20px
        }
    a{
        font-size: larger;
        font-weight: 600;
        color: #EEEEEE;
        text-decoration: none !important;
    } 
    a:hover{
        color:black !important;
    }  
}
    