.Navigationdots{
  display: flex;
  margin-top: 22%;
  align-items: center;
  flex-direction: column;
  /* background: black; */
  padding: 1rem;

    .dot {
        margin: 5px;
        height: 12px;
        width: 12px;
        background-color:black;
        border-radius: 50%;
        display: inline-block;
      }
      .dot:hover{
        background-color:#00ADB5;
      }
    }