.Skills{
    text-align: center;
    .title{
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .Skilldiv{
        width:800px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;

    }
    .Skilltitle{
        width: 8rem;
        flex: 0 1 20%;
        box-sizing: border-box;
        margin: 30px;
        border: 0.05rem solid #fff;
        border-radius: 2rem;
        padding: 0.4em;
        box-shadow: 0 0 .2rem #fff,
            0 0 1.0rem #3543de,
            inset 0 0 .5rem #3543de,
              0 0 .2rem #fff,
              0 0 2rem #3543de;
            //   0 0 0.8rem #bc13fe,
            font-size: larger;
            font-weight: 700;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        
            // box-shadow: 3px 3px 10px 3px rgba(0, 0, 0,0.2) ;
        
    }
    .Icon{
        margin: 1rem;
        color: #2c6fbb;
    }
    h1{
        margin: 40px;
        font-size: 4rem;
    }
}