.Skills{

    text-align: center;
    .Skilldiv{
        width:800px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        // box-shadow: 3px 3px 10px 3px rgba(0, 0, 0,0.2) ;
        // border-style:solid;
        // border-radius: 20px;
        // border-color: black;

    }
    .Skilltitle{
       
        width: 9rem;
        border:1px solid #000;
        flex-grow: 1;
        min-height: 100px;
        box-sizing: border-box;
        margin: 30px;
        justify-content: space-between;
        text-align: center;

        border: 0.05rem solid #fff;
        border-radius: 2rem;
        padding: 0.4em;
        box-shadow: 0 0 .2rem #fff,
            0 0 1.0rem #3543de,
            inset 0 0 .5rem #3543de;
            //   0 0 .2rem #fff,
            //   0 0 2rem #bc13fe,
            //   0 0 0.8rem #bc13fe,
              
        // box-shadow: 3px 3px 10px 3px rgba(0, 0, 0,0.2) ;
        // width: 10rem;
        // height: 8rem;
        // border-style:solid;
        // border-radius: 20px;
        // border-color: black;
        font-size: larger;
        font-weight: 700;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .Icon{
        margin: 1rem;
        color: #2c6fbb;
    }
    h1{
        margin: 40px;
        font-size: 4rem;
    }
}