.mainApp{
    background-color: whitesmoke;
    // background-color: #3F4E4F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.Header {

    .div1{
    background-color: #2C3639
    }
    a{
        color: #DCD7C9;
    }
    a:hover{
        color: #A27B5C !important;
    }
}